<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/<%= url %>/adduser" method="POST">
        <input type="text" name="name" placeholder="name of the user">
        <input type="text" name="number" placeholder="number">
        <br>
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <select name="type">
            <option value="35" name="35">35</option>
            <option value="55" name="55">55</option>
        </select>
        <br>
        <button>Add User</button>
    </form>
    
</body>
<script>
</script>
</html>